[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    docker,
    migrations,
    venv,
    .venv,
    .pytest_cache,
    pytest_cache,
    __pycache__,
    src/venv,
    media,
    static
per-file-ignores =
    config/settings/*.py: F403,F405,E501
